*{
    margin: 0px;
    padding: 0px;
    font-family:sans-serif;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 400px;
    background-image: url(img/capa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: revert;
}
header h1{
    padding-left: 320px;
    background-color: #fff;
    font-size: 2em;
}
header section{
    display: flex;
    height: 75px;
    justify-content: flex-end;
    background-color: #00000099;
    color: #fff;
    padding-right: 280px;
    font-size: 19px;
    align-items: center;
}
main{
    margin-bottom:5px;
}
main .sobre-nos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
main .sobre-nos .descricao-empresa{
    width: 57%;
    margin: auto;
    padding: 8px 0px;
    line-height: 26px;
}
main .sobre-nos .descricao-empresa p{
    border-left: 2px solid #000;
    margin: 6px auto;
    padding-left: 7px;
}
main .sobre-nos .texto-sobre-nos{
    width: 57%;
    padding: 18px 0px;
    margin: auto;
}
main .sobre-nos .texto-sobre-nos h2{
    padding: 10px 0px;
}
main .container-carros{
    display: flex;
    margin: auto;
}
main .container-carros figure{
    display: flex;
    align-content: space-around;
}
main .container-carros figure img{
    padding: 0px 5px;
}
main .container-contato{
    display: flex;
    width: 57%;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-color: #b7b7b738;
}
main .container-contato span{
    width: 100%;
    font-size: 25px;
    text-transform: uppercase;
    padding: 15px 0px;
    text-align: center;
}
main .texto-cadastro{
    width: 100%;
    text-align: center;
    line-height: 30px;
}
main .container-tabela-cadastro{
    width: 100%;
}
main .container-tabela-cadastro form{
    width: 100%;
    height: fit-content;
}
main .container-tabela-cadastro form fieldset{
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    padding: 5px 15px;
}
main .container-tabela-cadastro form fieldset legend{
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase
}
main .container-tabela-cadastro form fieldset label{
    padding: 5px;
}
main .container-tabela-cadastro input{
    height: 33px;
}
main .container-tabela-cadastro select{
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 9px;
}main optgroup{
    font-size: 17px;
    text-transform: uppercase;
}
main .container-tabela-cadastro select option{
    text-align: center;
    font-size: 15px;
    padding: 10px 0px;
}
main button{
    width: 100%;
    padding: 10px 27px;
    font-size: 17px;
    background-color: #ff0000;
}
main button:hover{
    border: 2px solid #000;
}
footer{
    width: 57%;
    margin: auto;
    text-align: center;
    background-color: #0000009c;
    color: #fff;
    letter-spacing: 2px;
}
footer a{
    text-decoration: none;
    color: #fff;
    font-weight: 900;
}